<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="wrapper">
      <h1>ECEA 5307: Camera Streaming Demo</h1>
      <iframe
        id="video"
        src="{{ config['CAMERA_ADDRESS'] }}"
        scrolling="no"
      ></iframe>
      <div>
        <a href="#" class="button" id="start-button" onclick="startStream()">
          Start Stream
        </a>
        <a href="#" class="button" id="stop-button" onclick="stopStream()">
          Stop Stream
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
